{% extends "quiz/layout.html" %}
{% load static %}

{% block title %}
    Register - Quotes & Quizzes
{% endblock %}

{% block css %}
    <link href="{% static 'quiz/css/authentication.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <section>

        <h1>Register</h1>

        <div class="form-container">
            <form action="{% url 'quiz:register' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <label>Username:</label>
                    <input autofocus name="username" placeholder="Username" type="text" required>
                </div>
                <div class="form-row">
                    <label>Password:</label>
                    <input name="password" placeholder="Password" type="password" required>
                </div>
                <div class="form-row">
                    <label>Confirm:</label>
                    <input name="confirmation" placeholder="Confirm Password" type="password" required>
                </div>
                <div class="form-row-btn">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
        
        <div class="sm-text">
            Already have an account? <a href="{% url 'quiz:login' %}">Log In here.</a>
        </div>

    </section>

{% endblock %}