/* quiz and quote html */

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    color: #DC143C;    
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

p {
    text-align: center;
}

#start-btn {
    width: 160px;
    height: 40px;
    margin: 20px 0px;
    border-radius: 60px;
    border-width: 0px;
    background-color: #DC143C;
    font-size: 1.1em;
    color: white;
}

#start-btn:hover {
    background-color: white;
    color: #DC143C;
    border: solid 2px #DC143C;    
}

@keyframes countdown {
    to {
        transform: scaleX(0);
    }
}

.countdown-bar {
    width: 350px;
    height: 5px;
    background: black;
    animation-name: countdown;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: left center;
}

#quote-para, #quiz-para {
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    border: 1px solid #DC143C;
    border-radius: 10px;
    text-align: center;
}

.btn-div {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 10px;
}

#multiple-div {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 10px;
}

#boolean-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.btn-answer {
    width: 180px;
    min-height: 65px;
    border: solid 1px #DC143C;
    background-color: #FFFAF0;
    color: #DC143C;
    font-size: 1.1em;
}

.btn-answer:hover {
    font-weight: bolder;
    border-width: 3px;
}

.restart-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 60px;
    border-width: 0px;
    background-color: #DC143C;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    text-align: center;
}

.restart-link:hover {
    background-color: white;
    color: #DC143C;
    border: solid 2px #DC143C;  
}

.sm-text {
    font-size: 0.9em;
}

.sm-link {
    color: black;
}

.sm-link:hover {
    font-weight: bold;
}

/* CSS for mobile devices */

@media screen and (max-width: 600px) {

    section {
        margin-bottom: 20px;
    }
    
    .btn-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    #multiple-div, #boolean-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
    }
}